<div *ngIf="showMainView">
    <app-navigation></app-navigation>
        <app-home *ngIf="currentView == 'home'"></app-home>
        <app-over-ons *ngIf="currentView == 'OverOns'"></app-over-ons>
        <app-tips-and-tricks *ngIf="currentDialog == 'Tips-and-tricks'"></app-tips-and-tricks>
        <app-tareq *ngIf="currentDialog == 'tareq'"></app-tareq>
        <app-zina *ngIf="currentDialog == 'zina'"></app-zina>
</div>
<div *ngIf="currentDialog == 'login'" id="dialogs">
    <app-login></app-login>
</div>
