<form class="example-form">
<div>
  <div>
    <h1>Log in</h1>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password">
    </mat-form-field>
      <br>
      <div>
        <button mat-raised-button color="primary"(click)="login('teamc')" style="margin-right: 0;">
        Inloggen
      </button>
      </div>
  </div>
  <h5>Klik maar op inloggen. Zit nog geen logica achter. Gr, Jurgen</h5>
</div>
</form>