<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Maak het verschil voor jongeren!</h1>
<p>(Sport)verenigingen zijn een plek waar veel jongeren (0 tot 24 jaar) samenkomen. Onder hen bevinden zich ook kwetsbare jongeren of jongeren met een zorgvraag. Deze jongeren worden meestal wel gezien door de vrijwilligers binnen de verenigingen, maar vaak weten de vrijwilligers (trainers, coaches en andere betrokkenen) niet op welke wijze zij het beste met de situatie om kunnen gaan. Het ontbreekt hen aan tijd en/of kennis om de jongere de juiste hulp en begeleiding te kunnen bieden. EénTweetje helpt uw (sport)vereniging hierbij.</p>
<h2>Door samen op te trekken – in een EénTweetje – kunnen wij voor deze jongeren het verschil maken.</h2>
<p>Ondersteuning door de pedagogisch coach</p>
<p>Versterken van de pedagogische kwaliteit binnen de vereniging</p>
<p>Vergroten van ouderbetrokkenheid</p>
</body>
</html>
