<div class="App">
<h1>Eén Tweetje</h1>
<div class="App_Aside" id="navbuttons">
    <button mat-raised-button color="primary" (click)="navigate('home')">Home</button>
    <button mat-raised-button color="primary" (click)="navigate('OverOns')">Over ons</button>
    <button mat-raised-button color="primary" (click)="navigate('Tips-and-tricks')">Tips & tricks</button>
    <button mat-raised-button color="primary" (click)="navigate('tareq')">Contact</button>
    <button mat-raised-button color="primary" (click)="navigate('zina')">FAQ</button>
</div>
</div>
