<div class="App">
<h1>Team C!</h1>
<div class="App_Aside" id="navbuttons">
    <button mat-raised-button color="primary" (click)="navigate('teamc')">Over Team C</button>
    <button mat-raised-button color="primary" (click)="navigate('jurgen')">Jurgen</button>
    <button mat-raised-button color="primary" (click)="navigate('karan')">Karan</button>
    <button mat-raised-button color="primary" (click)="navigate('tareq')">Tareq</button>
    <button mat-raised-button color="primary" (click)="navigate('zina')">Zina</button>
</div>
</div>
